div.tournament-page {
    display: flex;
    justify-content: center;
    margin: 1em;
}

div.tournament-page>div {
    border: 1px solid lightgray;
    border-radius: 10px;
}

div.tournament-page div h1 {
    margin: 0.5em 0;
}

div.tournament-page-header {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
    padding: 0.5em;
    background-color: burlywood;
    background-image: linear-gradient(to bottom, beige, rgb(220, 220, 215))
}

div.tournament-details p {
    font-size: 15px;
}

div.leaderboard-container {
    display: flex;
    justify-content: center;
    margin: 0.5em 2em;

}

div.leaderboard-container div {
    padding: 1em;
    border: 0.5px solid lightgray;
    border-radius: 10px;
}

div.leaderboard-container div h2 {
    text-align: center;
    margin-bottom: 0.5em;
}

th,
td {
    padding: 0.2em 1em;
}

tr.table-row-1 {
    background-color: gold;
}

tr.table-row-2 {
    background-color: silver;
}

tr.table-row-3 {
    background-color: orange;
}

div.record-workout-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.record-workout-container div {
    border: 0.5px solid lightgray;
    padding: 1.25em;
    margin: 0.5em;
    border-radius: 8px;
}

div.record-workout-container div h2 {
    margin: 0.5em 0;
}

form.record-workout-form * {
    display: block;
    width: 170px;
    margin: 0.5em;
}

form.record-workout-form select,
form.record-workout-form input,
form.record-workout-form label {
    width: 170px;
}

form.record-workout-form datalist option {
    display:none;
}
input.add-workout-submit {
    height: 30px;
    background-color: beige;
    border: 1px solid lightgray;
    border-radius: 8px;
}

div.feed {
    /* display: flex; */
    justify-content: center;
    margin: 0.5em;
}

div.feed>div {
    margin: 0.5em;
    padding: 1em;
    border-radius: 8px;
}

div.tournament-page-top-content {
    display: flex;
    align-items: center;
}

div.tournament-finished {
    display: block;
    align-content: center;
}

div.tournament-finished img {
    width: 30em;
    height: 10em;
}



/* Mobile devices */

@media only screen and (max-width: 600px) {
    body {
        height: 100vh;
    }

    div.tournament-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5em;
    }

    div.tournament-page-top-content {
        display: block;
    }

    div.tournament-page>div {
        width: 100%;
        margin: 0.5em 0;
    }

    div.leaderboard-container {
        margin: 0.5em;
        width: 95%;
    }

    div.record-workout-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    form.record-workout-form * {
        width: 100%;
        margin: 0.5em 0;
    }

    form.record-workout-form * {
        display: block;
        width: 170px;
        margin: 0.5em;
    }

    form.record-workout-form select,
    form.record-workout-form input,
    form.record-workout-form label {
        width: 170px;
    }

    div.feed__input {
        border: 0.5px solid lightgray;
        border-radius: 10px;
        display: flex;
        flex-direction: row;

    }

    div.feed__input>div {
        width: 2em;
    }

    div.feed__input>form {
        min-width: 14em;
    }

    div.feed__input>form>input {
        margin: 0;
    }
}