div.competition-card {
    border: 1px solid rgb(218, 237, 249);
    padding: 1em;
    border-radius: 10px;
    margin: 0.25em;
    width: 25%;
}

div.competition-card__top a {
    width: 8em;
    display: flex;
    justify-content: center;
}

div.competition-card__top p {
    width: 10em;
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
    font-weight: 700;
    font-size: 0.75em;
    /* background-color: #7b7be9; */
    background-color: #f0a8a8;
    color: white;
    border: 1px solid lightgray;
    height: 1.4em;
    border-radius: 20px;
    padding: 0.5em 0;
}

div.competition-card__top p:hover {
    background-color: #9898cd;
    color: azure
}

div.competition-card__top>a {
    text-decoration: none;
}

div.competition-card__bottom>p {
    display: flex;
    justify-content: center;
}

/* Mobile devices */

@media only screen and (max-width: 600px) {
    div.competition-card {
        padding: 0.5em;
        margin: 0.25em 0;
    }

    div.competition-card__top a,
    div.competition-card__top p {
        width: 100%;
        display: block;
        text-align: center;
    }

    div.competition-card__top p {
        margin: 0.5em 0;
        height: auto;
        border-radius: 10px;
        padding: 0.5em;
        width: auto;
    }

    div.competition-card__bottom>p {
        margin: 0.5em;
        font-size: 0.75em;
    }
}