.inputOption {
    display: flex;
    align-items: center;
    /* margin-top: 15px; */
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOption>h4 {
    margin-left: 5px;
}

/* Mobile devices */

@media only screen and (max-width: 600px) {
    .inputOption {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }

    .inputOption > h4 {
        margin: 0;
        margin-top: 5px;
    }
}