div.friends_page__container {
    /* width: 50vw; */
    padding: 2em;
    background-color: rgb(243, 243, 243);

}



.friends_page__searchform {
    padding: 10px;
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 28px;
    width: 20em;
    color: gray;
    background-color: #eef3f8;
}

.friends_page__searchform>input {
    outline: none;
    border: none;
    background: none;
}

.friends_page__searchform>button {
    border: none;
    height: 30px;
}

.friends_page__searchform>button>div.inputOption {
    padding: 0;
}

.friends_page__pending {
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 1em;
}

.friends_page__friendscontainer,
.friends_page__pending,
.friends_page__searchresults {
    margin: 1em 0;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: lightgray;
    padding: 0.5em 1em;
    display: flex;
    flex-wrap: wrap;
}

.friends_page__friendscontainer>h2 {
    margin: 0.5em 0;
}

.friends_page__searchresults {}